:root {
    --primary-dark: rgb(36 11 11);
    --hover-dark: rgb(96 77 77);
    --primary-light: rgb(246 245 242);
    --hover-light: rgb(229 227 221);
    --secondary: rgb(74 84 40);
    --secondary-hover: rgb(132 138 110);
    --accent: rgb(202 14 14);
    --pressed: ;
    --heading-font: Lexend Exa;
    --body-font: IBM Plex Mono;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    position: relative;
}

/* --- FONTS ---*/

h1, h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    
    margin: 2rem;
}

h3 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}

.product-text {
    font-size: 18px;
    max-width: 60%;
}

p, .body-bold {
    font-family: var(--body-font);
}

.subheading {
    font-family: var(--body-font);
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.body-bold {
    font-weight: 600;
}

/* --- LINKS AND BUTTONS ---*/

.button-primary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;

    background: var(--primary-dark);
    color: var(--primary-light);
    font-family:var(--body-font);
}

.button-secondary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;
    background: #ffffff;

    font-family:var(--body-font);
}


/* -- PRODUCT POPUP -- */

#product-popup {
    /* display: block; */
    border: 2px solid black;

    height: 100vh;
    width: 100vw;
}

.product-popup-img-container {
    background-color: lightgray;
    height: 393px;
    width: 393px;
}

/* --- PRODUCT POPUP IMG CONTAINER --- */
.product-popup-heading-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-popup-heading-star p {
    text-align: left;
    margin-bottom: 0.5rem;
 }

.product-popup-heading-star div:first-child {
    display: flex;
    flex-direction: column;
}

.product-popup-heading-star div:last-child {
    display: flex;
    align-items: center;
}

.product-popup-heading-star div:last-child p {
    margin: 0;
}



