:root {
    --primary-dark: rgb(36 11 11);
    --hover-dark: rgb(96 77 77);
    --primary-light: rgb(246 245 242);
    --hover-light: rgb(229 227 221);
    --secondary: rgb(74 84 40);
    --secondary-hover: rgb(132 138 110);
    --accent: rgb(202 14 14);
    --pressed: ;
    --heading-font: Lexend Exa;
    --body-font: IBM Plex Mono;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    position: relative;
}

/* --- FONTS ---*/

h1, h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    
    margin: 2rem;
}

h3 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}

.product-text {
    font-size: 18px;
    max-width: 60%;
}

p, .body-bold {
    font-family: var(--body-font);
}

.subheading {
    font-family: var(--body-font);
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.body-bold {
    font-weight: 600;
}

/* --- LINKS AND BUTTONS ---*/

.button-primary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;

    background: var(--primary-dark);
    color: var(--primary-light);
    font-family:var(--body-font);
}

.button-secondary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;
    background: #ffffff;

    font-family:var(--body-font);
}


#product-popup {
    opacity: 0%;

    background-color: white;
    box-shadow: 0 0 0.5rem rgb(109, 109, 109);

    width: 90vw;
    height: 90vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    place-self: anchor-center;
    position: fixed;
}

#product-popup:target {
    opacity: 100%;
}

.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    rotate: 45deg;
}

.product-popup-container {
    width: 40%;
    height: 90%;

    display: flex;
    flex-direction: row;
}

.product-img-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

.product-img-grid div {
    background-color: black;
}

.img1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.img2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.img3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#img-red {
    opacity: 0%;
}

.product-img-container-bottom div {
    background-color: gray;
    width: 50%;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choice-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}

.choices {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.color1 {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: red;
}

.color2 {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: black;
}

.color3 {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: green;
}

.product-info-section2-row2 {
    display: flex;
    justify-content: space-between;
}

input {
    height: 129px;
    width: 100%;
    margin-top: 1rem;
}

