:root {
    --primary-dark: rgb(36 11 11);
    --hover-dark: rgb(96 77 77);
    --primary-light: rgb(246 245 242);
    --hover-light: rgb(229 227 221);
    --secondary: rgb(74 84 40);
    --secondary-hover: rgb(132 138 110);
    --accent: rgb(202 14 14);
    --pressed: ;
    --heading-font: Lexend Exa;
    --body-font: IBM Plex Mono;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

/* --- FONTS ---*/

h1, h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    
    margin: 2rem;
}

p, .body-bold {
    font-family: var(--body-font);
}

.subheading {
    font-family: var(--body-font);
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.body-bold {
    font-weight: 600;
}

/* --- LINKS AND BUTTONS ---*/

.button-primary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;
    background: #9d9d9d;

    font-family:var(--body-font);
}

.button-secondary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;
    background: #ffffff;

    font-family:var(--body-font);
}


/* --- HEADER --- */

header .icon-container {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

header .icon-container-desktop {
    display: none;
}

.icon-box {
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* --- FOOTER ---*/
footer {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}

footer p {
    font-weight: 600;
}

.footer-more-info {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-socials, .footer-payment {
    display: flex;
    flex-direction: column;
}

.footer-socials span, .footer-payment span {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
