:root {
    --primary-dark: rgb(36 11 11);
    --hover-dark: rgb(96 77 77);
    --primary-light: rgb(246 245 242);
    --hover-light: rgb(229 227 221);
    --secondary: rgb(74 84 40);
    --secondary-hover: rgb(132 138 110);
    --accent: rgb(202 14 14);
    --pressed: ;
    --heading-font: Lexend Exa;
    --body-font: IBM Plex Mono;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--primary-light);
}

/* --- FONTS ---*/

h1, h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    
    margin: 2rem;
}

p, .body-bold, a {
    font-family: var(--body-font);
}

.subheading {
    font-family: var(--body-font);
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.body-bold {
    font-weight: 600;
}

/* --- LINKS AND BUTTONS ---*/

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-dark);
}

a:hover {
    font-weight: 600;
}

.button-primary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;

    background: var(--primary-dark);
    color: var(--primary-light);
    font-family:var(--body-font);
    cursor: pointer;

    transition: background-color 0.3s ease-in;
}

.button-primary:hover {
    background: var(--hover-dark);
}

.button-secondary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;
    
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family:var(--body-font);
    cursor: pointer;

    transition: background-color 0.3s ease-in;
}

.button-secondary:hover {
    background-color: var(--hover-light);
}


/* --- HEADER --- */

header {
    width: 100vw;
}

header .icon-container {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

header .icon-container-desktop {
    display: none;
}

.icon-box {
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-mobile {
    height: 11px;
}

/* --- MOBILE MENU --- */
.menu-container-mobile {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 92px;
    text-align: left;
    z-index: 99;

    display: none;
}

.menu-container-desktop {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: var(--primary-light);
}

.menu-close {
    transform: rotate(45deg);
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

nav section {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.menu-icons {
    display: flex;
    gap: 1rem;
}

#menu-open,
#menu-open-desktop {
    display: none;
}

#menu-open:checked + .menu-container-mobile {
    display: block;
}

/* -- SHOPPING CART -- */
.shopping-cart-container {
    background-color: var(--primary-light);
    width: 100vw;
    padding: 2rem;

    position: absolute;
    left: 0;
    top: 92px;

    display: none;
    flex-direction: column;
}

.shopping-cart-heading-close {
    display: flex;
    justify-content: space-between;
}

.shopping-cart-heading-close img {
    transform: rotate(45deg);
}

.shopping-cart-in-cart {
    display: flex;
    justify-content: flex-start;
}

.shopping-cart-in-cart-img-container {
    height: 100px;
    width: 100px;
    contain: content;
    margin-right: 1rem;
}

.shopping-cart-in-cart-img-container img {
    width: 100%;
}

.shopping-cart-in-cart-info-ammount-remove {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart-in-cart-ammount-remove {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart-giveaway {
    background-color: lightgrey;
    padding: 1rem;
    margin: 2rem -1rem;
    display: flex;
    justify-content: space-between;
}

.shopping-cart-giveaway-heading-icon {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.shopping-cart-giveaway-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart-summary {
    display: flex;
    flex-direction: column;
}

.shopping-cart-summary div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-cart-summary button {
    width: fit-content;
    align-self: center;
}

#cart-open {
    display: none;
}

#cart-open:checked + .shopping-cart-container {
    display: flex;
}

/* --- FOOTER ---*/
footer {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}

footer p {
    font-weight: 600;
}

.footer-more-info {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-socials, .footer-payment {
    display: flex;
    flex-direction: column;
}

.footer-socials span, .footer-payment span {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
