:root {
    --primary-dark: ;
    --hover-dark: ;
    --primary-light: ;
    --hover-light: ;
    --secondary: ;
    --secondary-hover: ;
    --accent: ;
    --pressed: ;
    --heading-font: Lexend Exa;
    --body-font: IBM Plex Mono;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

/* --- FONTS ---*/

h1, h2 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    
    margin: 2rem;
}

p, .body-bold {
    font-family: var(--body-font);
}

.subheading {
    font-family: var(--body-font);
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.body-bold {
    font-weight: 600;
}

/* --- LINKS AND BUTTONS ---*/

.button-primary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;
    background: #9d9d9d;

    font-family:var(--body-font);
}

.button-secondary {
    border: none;
    border-radius: 2px;
    height: 44px;
    padding: 10px 30px 10px 30px;
    background: #ffffff;

    font-family:var(--body-font);
}


/* --- HEADER --- */

header .icon-container {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.icon-box {
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
}