
/* --- PRODUCT POPUP --- */

#product-popup {
    display: none;

    position: fixed;
    top: 0;
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;

    height: 100vh;
    width: 100vw;
    background-color: var(--primary-light);
}

#product-popup:target {
    display: block;
}

#product-popup p {
    text-align: left;
}

/* --- PRODUCT POPUP IMG CONTAINER --- */
.product-popup-img-carousel .carousel {
    width: 100vw;
    height: 393px;
    overflow-y: hidden;

    anchor-name: --carousel;
    scroll-marker-group: after;
}

.product-popup-img-carousel .carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 10px;

    position: fixed;
    position-anchor: --carousel;
    position-area: center bottom;
    translate: 0 -2rem;
}

.product-popup-img-carousel .card::scroll-marker {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--primary-dark);
}

.product-popup-img-carousel .card::scroll-marker:target-current {
    width: 30px;
    border-radius: 5px;
}

.product-popup-img-carousel section {
    display: flex;
    margin: 0;
}

.product-popup-img-carousel .card {
    height: 450px;
    flex: 0 0 100vw;
}

.product-popup-img-carousel .card img {
    height: auto;
}

.product-popup-img-container {
    display: none;

    height: 393px;
    width: 393px;

    position: relative;
}

.product-popup-img-container section {
    display: none;
}

.product-popup-img-active {
    height: 100%;
}

.product-popup-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    z-index: 99;
}

/* --- HEADING AND STAR SECTION --- */
.product-popup-heading-star {
    margin: 0rem 1.5rem;
 }
 
.product-popup-heading-star {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.product-popup-heading-star p {
    margin-bottom: 0.5rem;
}

.product-popup-heading-star div:first-child {
    display: flex;
    flex-direction: column;
}

.product-popup-heading-star div:last-child {
    display: flex;
    align-items: center;
}

.product-popup-heading-star div:last-child p {
    margin: 0;
}

/* --- DESCRIPTION AND COLORS --- */
.product-popup-price-color-description {
    margin:1rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-popup-colors {
    display: flex;
    gap: 0.5rem;
}

.product-popup-color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.product-popup-color-red {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: rgb(188, 20, 20);
}

.product-popup-color-black {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: black;
}

.product-popup-color-green {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: rgb(46, 99, 46);
}

.product-popup-description {
    margin-top: -1.5rem;
}

/* --- SIZE, AMOUNT, ADD TO CART --- */
.product-popup-size-amount-section {
    margin: 2rem 1.5rem;
}

.product-popup-size-amount-container {
    display: flex;
    justify-content: space-between;
}

.product-popup-size-amount-choices {
    display: flex;
    gap: 2.5rem;

    margin: 0.5rem 0rem;
}

.product-popup-addtocart {
    float: right;
    margin: 1rem 0rem;
    padding: 0px 41px;
}

/* --- COMMUNITY ---*/
.product-popup-community-section {
    margin: 5rem 1.5rem;
}

form input {
    width: 345px;
    height: 125px;
    margin-top: 1.5rem;

    border: none;
    background-color: var(--hover-light);
    font-family: var(--body-font);
}

form button {
    margin-top: 1rem;
    float: right;
}


@media screen and (min-width: 1200px) {

    #product-popup:target {
        height: 90vh;
        width: auto;
        place-self: anchor-center;
        box-shadow: 0 0 7px -2px gray;

        margin: 2rem;
        /* padding-top: 1rem; */

        position: fixed;
        overflow-y: auto;
    }

    .product-popup-container {
        margin: 3rem;
        position: relative;

        display: grid;
        grid-template-columns: repeat(2, 540px);
        justify-content: center;
        align-items: flex-start;
        justify-items: center;
    }

    .product-popup-close {
        right: 1rem;
        top: 0rem;
    }

    /* --- IMG CONTAINER --- */

    .product-popup-img-carousel {
        display: none;
    }

    .product-popup-img-container {
        width: 540px;
        /* height: 540px; <-- Unnecessary?*/

        display: grid;
        justify-items: center;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .product-popup-img-container section {
        display: flex;
        gap: 1rem;

        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .product-popup-img-container .product-popup-img-active {
        width: 465px;
        height: 465px;

        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background: lightgray;
    }

    .product-popup-img-count div {
        display: none;
    }

    .product-popup-img-container section img {
        height: 225px;
        width: 225px;
        background-color: var(--hover-light);
        
        display: flex;
    }

    /* --- HEADING, RATING, DESCRIPTION --- */

    .product-popup-heading-star {
        display: flex;
        align-items: flex-end;
    }

    .product-popup-heading-star img {
        width: 50%;
    }

    .product-popup-heading-star p {
        margin-top: 1rem;
    }

    .product-popup-heading-star .subheading {
        font-family: var(--heading-font);
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0;
    }

    /* --- COLORS, SIZE, AMOUNT --- */

    .product-popup-price-color-description p:first-child {
        order: 1;
    }

    .product-popup-price-color-description .subheading {
        margin-top: 0;
    }

    .product-popup-colors {
        order: 1;
    }

    .product-popup-size-amount-section {
        margin: 0.5rem 1.5rem;
    }
    
    .product-popup-size-amount-section span {
        display: flex;
        gap: 3rem;
    }
    
    .product-popup-size-amount-container {
        justify-content: flex-start;
        gap: 3rem;
    }

    .product-popup-size-amount-choices {
        gap: 1.5rem;
    }

    /* --- COMMUNITY --- */

    .product-popup-choice-community-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        grid-column: 2 / 3;
    }

    .product-popup-community-section {
        margin: 0rem 1.5rem;
    }

    .product-popup-community-section .subheading {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    #product-popup form input {
        width: 100%;
    }

}