/* --- PRODUCT POPUP --- */

#product-popup {
    display: block;

    height: 100vh;
    width: 100vw;
}

#product-popup p {
    text-align: left;
}

/* --- PRODUCT POPUP IMG CONTAINER --- */
.product-popup-img-container {
    background-color: lightgray;
    height: 393px;
    width: 393px;

    position: relative;
}

.product-popup-heading-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-popup-img-count {
    display: flex;
    gap: 0.4rem;

    position: absolute;
    bottom: 1.5rem;
    justify-self: anchor-center;
}

.product-popup-img-count div {
    height: 10px;
    width: 10px;
    background-color: var(--primary-dark);
    border-radius: 50%;
}

#product-popup-img-count-active {
    width: 30px;
    border-radius: 5px;
}

.product-popup-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
}

/* --- HEADING AND STAR SECTION --- */
.product-popup-heading-star {
    margin: 0rem 1.5rem;
 }

.product-popup-heading-star p {
    margin-bottom: 0.5rem;
 }

.product-popup-heading-star div:first-child {
    display: flex;
    flex-direction: column;
}

.product-popup-heading-star div:last-child {
    display: flex;
    align-items: center;
}

.product-popup-heading-star div:last-child p {
    margin: 0;
}

/* --- DESCRIPTION AND COLORS --- */
.product-popup-price-color-description {
    margin:1rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-popup-colors {
    display: flex;
    gap: 0.5rem;
}

.product-popup-color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.product-popup-color-red {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: rgb(188, 20, 20);
}

.product-popup-color-black {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: black;
}

.product-popup-color-green {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: rgb(46, 99, 46);
}

.product-popup-description {
    margin-top: -1.5rem;
}

/* --- SIZE, AMOUNT, ADD TO CART --- */
.product-popup-size-amount-section {
    margin: 2rem 1.5rem;
}

.product-popup-size-amount-container {
    display: flex;
    justify-content: space-between;
}

.product-popup-size-amount-choices {
    display: flex;
    gap: 2.5rem;

    margin: 0.5rem 0rem;
}

.product-popup-addtocart {
    justify-self: right;
    margin: 1rem 0rem;
}

/* --- COMMUNITY ---*/
.product-popup-community-section {
    margin: 3rem 1.5rem;
}

form input {
    width: 345px;
    height: 125px;
    margin-top: 1.5rem;

    border: none;
    background-color: var(--hover-light);
    font-family: var(--body-font);
}

form button {
    margin-top: 1rem;
    float: right;
}


@media screen and (min-width: 1200px) {

    #product-popup {
        height: 903px;
        width: 1256px;
        place-self: anchor-center;

        border: 2px solid black;
    }

    #product-popup span {
        margin: 3rem;

        display: grid;
        grid-template-columns: repeat(2, 475px);
        justify-content: center;
        align-items: start;
    }

    .product-popup-img-container {
        grid-column: 1 / 2;
    }

    .product-popup-choice-community-grid {
        display: flex;
        flex-direction: column;

        grid-column: 2 / 3;
    }

    .product-popup-colors {
        order: 1;
    }

}