/* --- HOME PAGE --- */

.hero {
    height: 80vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(/assets/kinforma_hero-img.png);
    background-size: contain;

    color: var(--primary-light);
}

.hero-container {
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singel-logos-desktop {
    display: none;
}


/* --- CAROUSEL -- */

.carousel {
    margin-left: 1rem;
    margin-right: 0;
    display: flex;
    column-gap: 0.5rem;
    width: 90vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.card {
    height: 465px;
    flex: 0 0 290px;
    scroll-snap-align: start;
    margin-bottom: 3rem;

    contain: content;
}

.card-img-container {
    height: 390px;
    width: 290px;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card img {
    contain: content;
    height: 100%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.gallery-desktop,
.gallery-desktop-kintech {
    display: none;
}


/*--- KINTECH CAROUSEL ---*/

.card-button {
    position: relative;
    height: 485px;
}

.card-button button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* --- SIGNUP ---*/

.img-background, 
.img-background-signup, 
.img-background-chat {
    height: 650px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: var(--primary-light);

    background-size: cover;
}

.img-background-signup {
    flex-direction: column;
    justify-content: space-evenly;

    background-image: url(/assets/kinforma-camp-fire.png);
    background-size: cover;
    background-position: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.signup-container p {
    text-align: left;
}

.signup-container input, 
.signup-container button {
    width: 280px;
    height: 44px;
    font-family: var(--body-font);
    border: none;
}

.signup-container input {
    padding-left: 0.5rem;
    border-radius: 2px;
}

.img-background-text p {
    text-align: center;
    justify-self: center;
    max-width: 85vw;
}

.img-background h2 {
    margin-bottom: 1rem;
}

/* --- CHAT --- */

.img-background-chat {
    background-image: url(/assets/kinforma-canvas-background.png);
    color: var(--primary-light);
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 5rem;
}


/* --- ABOUT US --- */
.img-background {
    background-image: linear-gradient(45deg, #0000009e, #0000009e), url(/assets/kinforma-poncho-nature-2.png);
    background-size: cover;
    background-position: right;
    
}

