:root {
    --primary-dark: ;
    --hover-dark: ;
    --primary-light: ;
    --hover-light: ;
    --secondary: ;
    --secondary-hover: ;
    --accent: ;
    --pressed: ;
    --h1-MOB: Lexend Exa;
    --h2-MOB: Lexend Exa;
    --body-MOB: IBM Plex Mono;
    --h1-DES: Lexend Exa;
    --h2-DES: Lexend Exa;
    --body-DES: IBM Plex Mono;
}

